<main class="container">
   <h2>Create a new post</h2>
   <input id="create-post-title-input" type="text" class="form-control mb-3" placeholder="Title">
   <textarea id="create-post-content-textarea" class="form-control mb-3" rows="8" placeholder="Content"></textarea>
   <button id="create-post-button" class="btn btn-primary">Publish</button>
</main>
<script src="/assets/js/createPost.js"></script>