<main class="container">
   <h2>{{username}}'s Posts</h2>
   {{#stringMatch loggedInUser.username username}}
   <div class="row">
      <button type="button" class="btn btn-primary mb-3">Create Post</button>
   </div>
   {{/stringMatch}}
   {{#each posts as |post|}}
   <div class="row">
      <div class="card col">
         <div class="card-body">
            <div class="row">
               <a class="link-unstyled" href="/posts/{{post.postID}}">
                  <h3 class="card-title col">{{post.title}}</h3>
               </a>
            </div>
            <p class="mt-1 card-text">{{post.content}}</p>
         </div>
      </div>
   </div>
   {{/each}}
</main>