<main class="container login-page">
   <div class="d-flex justify-content-around">
      <img src="./assets/images/logo-black.png">
   </div>
   <div class="input-group mb-3" style="margin-top: 20px;">
      <input id="login-username-input" type="text" class="form-control" placeholder="Username" aria-label="Username">
   </div>
   <div class="input-group mb-3">
      <input id="login-password-input" type="password" class="form-control" placeholder="Password" aria-label="Password">
   </div>
   <div class="d-flex justify-content-between">
      <button id="login-btn" type="button" class="btn btn-primary">Login</button>
      <a href="/signup">Sign up instead</a>
   </div>
   <script src="/assets/js/login.js"></script>
</main>