<main class="container">
   <div class="d-flex justify-content-around">
      <img src="./assets/images/logo-black.png">
   </div>
   <div class="input-group mb-3" style="margin-top: 20px;">
      <input type="text" class="form-control" placeholder="Username" aria-label="Username">
   </div>
   <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="Password" aria-label="Password">
   </div>
   <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-primary">Login</button>
      <a href="/signup">Sign up instead</a>
   </div>
</main>