<main>
   <div class="card col" style="width: 18:rem;">
      <div class="card-body">
         <div class="row">
            <a class="link-unstyled">
               <h3 class="card-title col">{{post.title}}</h3>
            </a>
         </div>
         <p class="mt-1 card-text">{{post.content}}</p>
      </div>
   </div>
</main>