<main class="container signup-page">
   <div class="d-flex justify-content-around">
      <img src="./assets/images/logo-black.png">
   </div>
   <div class="input-group mb-3" style="margin-top: 20px;">
      <input id="signup-username-input" type="text" class="form-control" placeholder="Username" aria-label="Username">
   </div>
   <div class="input-group mb-3">
      <input id="signup-password-input" type="password" class="form-control" placeholder="Password" aria-label="Password">
   </div>
   <div class="input-group mb-3">
      <input id="signup-password-confirm-input" type="password" class="form-control" placeholder="Confirm Password" aria-label="Password">
   </div>
   <div class="d-flex justify-content-between">
      <button id="signup-button" type="button" class="btn btn-primary">Sign Up</button>
   </div>
</main>
<script src="/assets/js/signup.js"></script>