main {
   margin-top: 75px;
}

.login-page {
   margin-bottom: 400px;
}

.signup-page {
   margin-bottom: 400px;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
   color: inherit;
   text-decoration: inherit;
}